.nav{
    display:flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: grey;
    height: 50px;
    position: fixed;
    align-items: center;

}
.item{
    padding: 5px;
    display: inline;
}