.nav1{
    background-color: grey;
    height: 50px;
    padding-top: 0px;
}
.item1{
    padding: 0px;
    
}
.box{
    margin-left: auto;
    text-decoration: underline;
}
.but1{
    color: #00203f;
    border:2px solid #00203f;
    font-weight:500;
}
.but1:hover{
    background-color: #00203f;
    border:2px solid #00203f;
    color: white;
}
.but1:active{
    --bs-btn-active-bg:#00203f;
    --bs-btn-active-border-color: #00203f;

}